dj-database-url
django>=3.2.16
django-environ
psycopg2-binary
python-dotenv
requests
sentry_sdk
django-staff-sso-client
whitenoise
gunicorn
cloudfoundry-client
python-dateutil
django-prometheus
protobuf>=3.18.3
oauthlib==3.2.1

certifi>=2022.12.7
